/dist/
/node_modules/
/coverage/
/.nyc_output/
/.idea/
/cache/
/src/testing/
/test-results/
CLAUDE.md
CODE.MD
/docs/superpowers/
.mcp.json
docs/superpowers/
/logs/

/test-runner/.asset-cache/
/test-server/testFiles/testing.smil
/test-server/testFiles/testing.smil2
PLAN.MD
CLAUDE.MD

.DS_Store
