{
    "lines": 40,
    "statements": 40,
    "functions": 39,
    "branches": 32,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/testing/*.ts"
    ],
    "all": true,
    "extension": [
        ".ts"
    ],
    "reporter": [
        "lcov",
        "text-summary",
        "clover"
    ]
}
